<!DOCTYPE html>
<html lang="ko">
<head>
	<title>Badook Board(Goban) Game</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />

	<link type="text/css" href="/theme/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
	<link type="text/css" href="/css/style.css" rel="stylesheet" />

	<script src="/js/libs/require-2.1.6.min.js" data-main="js/main"></script>
</head>
<body>
	<header>
		<h1>Badook Board(Goban) Game</h1>
	</header>
	<section>
		<div>
			<div>
				<button id="resize400">400</button>
				<button id="resize600">600</button>
				<button id="resize800">800</button>
			</div>
			<div id="drawing">
				<canvas id="board" style="z-index:1;position:absolute;"></canvas>
				<canvas id="stone" style="z-index:2;position:absolute;"></canvas>
				<canvas id="gridtext" style="z-index:3;position:absolute;"></canvas>
			</div>
			<div id="message" style="margin-top:10px"></div>
		</div>
		
		<div>
			<h2>Options</h2>
			<div>
				<h3>Events</h3>
				<button id="moveBack">Move back</button>
				<button id="showStone">Hide stones</button>
				<button id="showText">Show text</button>
			</div>
			<div>
				<h3>Stone Color</h3>
				<input type="radio" id="radio_auto" name="color" value="auto" checked /><label for="radio_auto">Auto</label>
				<input type="radio" id="radio_black" name="color" value="black" /><label for="radio_black">Black</label>
				<input type="radio" id="radio_white" name="color" value="white" /><label for="radio_white">White</label>
				<input type="radio" id="radio_mouse" name="color" value="mouse" /><label for="radio_mouse">Mouse</label>
			</div>
		</div>
	</section>
    <section id="adsense">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- badook -->
        <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-4357926182955279" data-ad-slot="8467202571"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </section>
	<footer>
		<hr/>
		<p>Copyright 2013, gizrak</p>
	</footer>
</body>
</html>
