<!DOCTYPE html>
<html>
<head>
<title>Baduk</title>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="viewport" content="width=device-width, height=device-height" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<link rel="stylesheet" type="text/css" href="/style/jquery.mobile-1.0.1.min.css" />
<link rel="stylesheet" type="text/css" href="/style/jquery.mobile.simpledialog.min.css" />
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
<link rel="apple-touch-startup-image" href="/images/startup.png" />

<style type="text/css">
.logo_image {
	text-align: center;
	border: 2px solid black;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-khtml-border-radius: 30px;
	-webkit-border-radius: 30px;
}
</style>

<script data-ad-client="ca-pub-4357926182955279" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script type="text/javascript" src="/jquery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/jquery/jquery.mobile-1.0.1.min.js"></script>
<script type="text/javascript" src="/jquery/jquery.mobile.simpledialog.min.js"></script>

<script type="text/javascript" src="/js/board.js"></script>
<script type="text/javascript">
var board;

$(document).ready(function() {
    var width = $(window).width();
    var height = $(window).height() - 80;	// 80px : footer
    var min_size = (width < height) ? width : height;
    console.log('width: ' + width + 'px, height: ' + height + 'px, min_size: ' + min_size + 'px');

    // init board
    board = new Board(min_size);
    board.drawBoard();
    board.option.reload();
});

$(function() {
	$('#home_page').live('pageshow', function(event) {
		if (board.sequence === 1) {
			console.log('not yet played...');
			$('#home_page a#new').attr('data-theme', 'b');
			$('#home_page a#resume').attr('data-theme', '');
		} else {
			console.log('already played...');
			$('#home_page a#new').attr('data-theme', '');
			$('#home_page a#resume').attr('data-theme', 'b');
			console.log($('#home_page a#resume'));
		}
	});

    $('#home_page a#new').click(function() {
    	if (board.sequence === 1) {
    		$.mobile.changePage('#baduk_page');
    		return;
    	}

        $(this).simpledialog({
            'mode' : 'bool',
            'prompt' : 'Start new game?',
            'useModal' : true,
            'buttons' : {
                'OK' : {
                    click : function() {
                    	$.mobile.changePage('#baduk_page');
                        board.draw();
                    }
                },
                'Cancel' : {
                    click : function() {
                    },
                    icon : 'delete',
                    theme : 'c'
                }
            }
        });
    });

	$('#baduk_page').live('pageshow', function(event) {
		board.option.reload();

		// display stone number or not
		if (board.option.getStoneNumber() === 'show') {
			$('canvas#gridtext').show();
		} else {
			$('canvas#gridtext').hide();
		}
	});

    $('#baduk_page a#save').click(function() {
        $(this).simpledialog({
            'mode' : 'bool',
            'prompt' : 'Save this game?',
            'buttons' : {
                'Save' : {
                    click : function() {
                        try {
                        	var save_name = 'save_' + new Date().getTime();
                            var serialization = board.serialize();
                            localStorage.setItem(save_name, serialization);
                            console.log('Save completed. (' + save_name + ')');
                            alert('Save completed. (' + save_name + ')');
                        } catch (e) {
                            console.error(e.message);
                            alert(e.message);
                        }
                    }
                },
                'Cancel' : {
                    click : function() {
                        console.log('User canceled.');
                    },
                    icon : 'delete',
                    theme : 'c'
                }
            }
        });
    });

    $('#baduk_page a#load').click(function() {
    	// TODO - user iscroll on raw html
        var li = ['<ul data-role="listview" data-theme="f">'];
        try {
            for(var i = 0; i < localStorage.length; i++) {
                var key = localStorage.key(i);
                if (key.indexOf('save_') === -1) {
                	continue;
                }
                
                var save = JSON.parse(localStorage.getItem(key));
                console.log(key, save);
                li.push('<li>');
                li.push('    <a href="#">');
                li.push('      <img src="' + save.screenshot + '" alt="' + key + '">');
                li.push('      <h3>' + key + '</h3>');
                li.push('      <p>' + save.size + 'x' + save.size + '</p>');
                li.push('      <p>' + new Date(save.timestamp).toString() + '</p>');
                li.push('    </a>');
                li.push('  </li>');
            }
        } catch (e) {
            console.error(e.message);
            alert(e.message);
        }
        li.push('</ul>');
        
        var html = li.join('');
        if (html === '') {
        	alert('No saved data...');
        	return;
        }

        $(this).simpledialog({
            'mode' : 'blank',
            'prompt' : false,
            'forceInput' : false,
            'useModal' : true,
            'fullHTML' : html
        });
    });

	$('#option_page').live('pageshow', function(event) {
		board.option.reload();

		$('select#boardsize').val(board.option.getBoardSize()).selectmenu('refresh');
		$('select#stonenumber').val(board.option.getStoneNumber()).selectmenu('refresh', true);
	});

    $('#option_page select#boardsize').live('change', function() {
        var boardsize = $('select#boardsize').val();
        board.option.setBoardSize(boardsize);
        board.option.save();
    });

    $('#option_page select#stonenumber').live('change', function() {
        var stonenumber = $('select#stonenumber').val();
        board.option.setStoneNumber(stonenumber);
        board.option.save();
    });

    $('#option_page a#backup').live('click', function() {
        $(this).simpledialog({
            'mode' : 'bool',
            'prompt' : 'Backup on server?',
            'useModal' : true,
            'buttons' : {
                'OK' : {
                    click : function() {
                        var list = [];
                        for(var i = 0; i < localStorage.length; i++) {
                            var key = localStorage.key(i);
                            list[i] = localStorage.getItem(key);
                        }
                        console.log('Request to backup current ' + localStorage.length + ' items.');
                        //console.log(JSON.stringify(list));

                        $.ajax({
                            url : "/api/save_board",
                            type : "POST",
                            data : "backup=" + encodeURIComponent(JSON.stringify(list)),
                            complete : function(xhr) {
                                if(xhr.readyState == 4) {
                                    if(xhr.status == 200) {
                                        console.log(xhr.responseText);
                                        var result = JSON.parse(xhr.responseText);
                                        if(result.status == 'success') {
                                            alert('Save completed.');
                                        } else {
                                            alert(result.message);
                                        }
                                    } else {
                                        console.error(xhr.status + ' ' + xhr.statusText + '\n' + xhr.responseText);
                                    }
                                }
                            }
                        });
                    }
                },
                'Cancel' : {
                    click : function() {
                        console.log('Backup canceled...');
                    },
                    icon : 'delete',
                    theme : 'c'
                }
            }
        });
    });

    $('#option_page a#restore').live('click', function() {
        $.ajax({
            url : "/api/load_board",
            type : "GET",
            complete : function(xhr) {
                if(xhr.readyState == 4) {
                    if(xhr.status == 200) {
                        console.log(xhr.responseText);
                        var result = JSON.parse(xhr.responseText);
                        if(result.status == 'success') {
                            alert('Load completed.');
                        } else {
                            alert(result.message);
                        }
                    } else {
                        console.error(xhr.status + ' ' + xhr.statusText + '\n' + xhr.responseText);
                    }
                }
            }
        });
    });
});
</script>
</head>

<body>
	<div id="home_page" data-role="page">
		<div data-role="header" data-position="fixed">
			<h1>Baduk Game</h1>
		</div>
		<div data-role="content">
			<img src="/images/baduk.jpg" alt="Baduk" class="logo_image">
			<a id="new" href="#" data-role="button" data-theme="b">New Game</a>
			<a id="resume" href="#baduk_page" data-role="button">Resume</a>
			<a href="#" data-role="button">Load</a>
			<a href="#" data-role="button">Credit</a>
			<a href="#about_page" data-role="button" data-rel="dialog">About</a>
		</div>
	</div>

	<div id="baduk_page" data-role="page">
		<div data-role="header" data-position="fixed">
			<a id="back" href="#" data-rel="back" data-icon="home">Home</a>
			<h1>Baduk</h1>
			<a href="#option_page" data-icon="gear">Options</a>
		</div>
		<!-- /header -->
		<div data-role="content">
			<div id="drawing">
				<canvas id="board" style="z-index:1;position:absolute;"></canvas>
				<canvas id="stone" style="z-index:2;position:absolute;"></canvas>
				<canvas id="gridtext" style="z-index:3;position:absolute;"></canvas>
			</div>
			<a id="save" href="#" data-role="button" data-inline="true">Save</a>
			<a id="load" href="#" data-role="button" data-inline="true">Load</a>
		</div>
	</div>

	<div id="option_page" data-role="page">
		<div data-role="header">
			<a href="#" data-rel="back" data-icon="back">Back</a>
			<h1>Option</h1>
		</div>
		<!-- /header -->
		<div data-role="content">
			<ul data-role="listview" data-theme="c">
				<li data-role="list-divider">Game</li>
				<li data-role="fieldcontain"><label for="boardsize">Board
						Size: </label> <select id="boardsize" name="boardsize" class="select">
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="11">11</option>
						<option value="13">13</option>
						<option value="15">15</option>
						<option value="19">19</option>
				</select></li>
				<li data-role="fieldcontain"><label for="stonenumber">Stone
						Number: </label> <select id="stonenumber" name="stonenumber"
					class="select">
						<option value="hide">Hide</option>
						<option value="show">Show</option>
				</select></li>
				<li data-role="list-divider">Data</li>
				<li><a id="backup" href="#">Backup</a></li>
				<li><a id="restore" href="#">Restore</a></li>
			</ul>
		</div>
	</div>

	<div id="about_page" data-role="page">
		<div data-role="header" data-theme="d">
			<h1>About</h1>
		</div>
		<div data-role="content" data-theme="c">
			<p>
				This is a web based <strong>Baduk</strong> application. <strong>Baduk</strong>
				is Korean traditional board game and also called <strong>Go</strong>
				game. You can store save data on cloud server.
			</p>
			<a href="http://code.google.com/p/baduk/" target="_blank"
				data-role="button" data-theme="b">Go to project page</a> <a href="#"
				data-role="button" data-rel="back" data-theme="c">Cancel</a>
		</div>
	</div>
</body>
</html>
