<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>BadookServlet</servlet-name>
		<servlet-class>com.gizrak.badook.BadookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BadookServlet</servlet-name>
		<url-pattern>/badook</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BoardSave</servlet-name>
		<servlet-class>com.gizrak.badook.BoardSaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardSave</servlet-name>
		<url-pattern>/board/save</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BoardLoad</servlet-name>
		<servlet-class>com.gizrak.badook.BoardLoadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardLoad</servlet-name>
		<url-pattern>/board/load</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>badook</welcome-file>
	</welcome-file-list>
</web-app>